<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamsb.mtglifeapp" >

    <uses-sdk android:minSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="MTG Life"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity
            android:name=".MainActivity"
            android:label="MTG Life"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LCLoginAct"
            android:label="Life Setup"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="teamsb.mtglifeapp.MainActivity" />
        </activity>
        <activity
            android:name=".LifeHost"
            android:label="Life Counter"
            android:parentActivityName=".LCLoginAct"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="teamsb.mtglifeapp.LCLoginAct" />
        </activity>
        <activity
            android:name=".VenmoTest"
            android:label="Venmo"
            android:parentActivityName=".PCStart"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="teamsb.mtglifeapp.PCStart" />
        </activity>
        <activity
            android:name=".PCStart"
            android:label="Price Tools"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="teamsb.mtglifeapp.MainActivity" />
        </activity>
        <activity
            android:name=".VenmoWebViewActivity"
            android:label="VenmoWebViewActivity" />
        <activity
            android:name=".PriceView"
            android:label="Price View"
            android:parentActivityName=".PCStart"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="teamsb.mtglifeapp.PCStart" />
        </activity>
    </application>

</manifest>
