<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamsb.mtglifeapp" >

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LCLoginAct"
            android:label="@string/title_activity_lclogin"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="teamsb.mtglifeapp.MainActivity" />
        </activity>
        <activity
            android:name=".LoginHost"
            android:label="@string/title_activity_login_host"
            android:parentActivityName=".LCLoginAct" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="teamsb.mtglifeapp.LCLoginAct" />
        </activity>
        <activity
            android:name=".LoginSlave"
            android:label="@string/title_activity_login_slave"
            android:parentActivityName=".LCLoginAct" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="teamsb.mtglifeapp.LCLoginAct" />
        </activity>
        <activity
            android:name=".LifeHost"
            android:label="@string/title_activity_life_host"
            android:screenOrientation="landscape"
            android:parentActivityName=".LoginHost" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="teamsb.mtglifeapp.LoginHost" />
        </activity>
        <activity
            android:name=".LifeSlave"
            android:label="@string/title_activity_life_slave"
            android:screenOrientation="landscape"
            android:parentActivityName=".LoginSlave" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="teamsb.mtglifeapp.LoginSlave" />
        </activity>
        <activity
            android:name=".PCStart"
            android:label="@string/title_activity_pcstart"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="teamsb.mtglifeapp.MainActivity" />
        </activity>
    </application>

</manifest>
